.update-batch-main{
    width: 400px;
    padding-bottom: 20px;
}
.dialog-title i:first-child{
    font-size: 26px;
}
.update-batch-content{
    width: 340px;
    margin: auto;
    position: relative;
}
