.update-menu-main{
    width: 800px;
    max-height: 550px;
    padding-bottom: 20px;
}
.dialog-title i:first-child{
    font-size: 26px;
}
.update-menu-content{
    width: 90%;
    margin: auto;
}
.full-btn{
    margin-top: 10px;
}
.menu-type{
    margin-bottom: 10px;
}

table{
    width: 100%;
    margin-top: 10px;
    max-height: 200px;
    margin-left: 10px;
}
.form-item{
    display: inline-block;
    width: 335px;
    vertical-align: top;
}
.form-item-sc{
    margin-left:40px;
}
.none-checked-label{
    margin-left: 10px;
    margin-top: 20px;
}
.prepare-item span{
    font-size: 13px;
    color: rgb(100,100,100);
    margin-left: 10px;
}
.prepare-item{
    border-bottom: dashed 1px rgb(213,213,213);
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.menu-item-list .form-item{
    min-height: 50px;
    margin-top: 20px;
}
.prepare-item{
    cursor: move;
}