<main class="update-menu-main">
  <div class="dialog-title">
    <i class="material-icons">
      playlist_add
    </i>添加菜单
    <span class="dialog-close" (click)="close.click()">
      <i class="material-icons">close</i>
    </span>
  </div> 
  
  <div  class="update-menu-content">
    <div class="form-item">
        <md-select placeholder="菜单类型" [(ngModel)]="insertMenuModel.type" class="full-width-input menu-type">
            <md-option value="menu">父级菜单</md-option>
            <md-option value="menuItem">子级菜单</md-option>
        </md-select>
    </div>
    <div class="form-item form-item-sc">
      <md-form-field class="full-width-input">
            <span class="input-prefix" mdPrefix>菜单名:</span>
            <input mdInput [(ngModel)]="insertMenuModel.menuItem.label">
      </md-form-field>
    </div>
    <div class="form-item">
      <md-form-field class="full-width-input">
            <span class="input-prefix" mdPrefix>路由:</span>
            <input mdInput [(ngModel)]="insertMenuModel.menuItem.url">
      </md-form-field>
    </div>
            
    <div class="form-item form-item-sc">
      <md-form-field class="full-width-input">
            <span class="input-prefix" mdPrefix>图标:</span>
            <input mdInput [(ngModel)]="insertMenuModel.menuItem.icon">
      </md-form-field>
    </div>
    
    <div class="menu-item-list" *ngIf="insertMenuModel.type=='menu'">
      <div class="form-item">
          <div class="sm-border-left">选择子菜单</div>
          <table class="form-item">
            <tr *ngFor="let item of items">
              <td width="30"><md-checkbox (change)="checkMenuItem($event,item)" color="primary" class="sm-checkbox"></md-checkbox></td>
              <td width="30"><i class="material-icons">{{item.icon}}</i></td>
              <td width="70"><span class="sub-item-label">{{item.label}}</span></td>
              <td><span class="sub-item-label">{{item.url}}</span></td> 
            </tr>
          </table>
      </div>
      <div class="form-item form-item-sc">
          <div class="sm-border-left">已选子菜单</div>
          <div *ngIf="checkedMenuItems.length==0" class="none-checked-label base-text">还未选择任何子菜单！</div>
          <table class="form-item">
            <tr  *ngFor="let item of checkedMenuItems">
              <td width="30"><i class="material-icons">{{item.icon}}</i></td>
              <td ><span class="sub-item-label">{{item.label}}</span></td> 
            </tr>
          </table>
      </div>
    </div>
   
  </div>
  <div class="dialog-bottom">
    <button (click)="insertMenu(close)" md-raised-button class="sm-btn" color="primary">添加</button>
  </div>
  <button md-dialog-close style="display:none;" #close></button>
</main>