.update-menu-main{
    width: 800px;
    max-height: 550px;
    padding-bottom: 20px;
}
.dialog-title i:first-child{
    font-size: 26px;
}
.update-menu-content{
    width: 90%;
    margin: auto;
}
.full-btn{
    margin-top: 10px;
}
.menu-type{
    margin-bottom: 10px;
}

.form-item{
    display: inline-block;
    width: 335px;
    vertical-align: top;
}
.form-item-sc{
    margin-left:40px;
}
