<main class="add-menu-main">
  <div class="content-top white-box border-left base-text">
    <i class="material-icons">format_list_bulleted</i> 菜单列表
    <div class="content-top-right">
      <button mat-icon-button (click)="openAddMenu()"><i class="material-icons">add_circle_outline</i>添加菜单</button>
    </div>
  </div>
  <div class="white-box menu-list-content">
    <app-busy [busy]="busy" [msg]="'数据加载中...'"></app-busy>
    <mat-table #table [dataSource]="subDataSource">
      <ng-container matColumnDef="checked">
        <mat-header-cell *matHeaderCellDef> 勾选 </mat-header-cell>
        <mat-cell *matCellDef="let item"><mat-checkbox color="primary" class="sm-checkbox"></mat-checkbox></mat-cell>
      </ng-container>
      <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef> 图标 </mat-header-cell>
        <mat-cell *matCellDef="let item"><i class="material-icons" style="font-size: 30px;">{{item.icon}}</i></mat-cell>
      </ng-container>

      <ng-container matColumnDef="label">
        <mat-header-cell *matHeaderCellDef> 标签 </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.label}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef> 路由 </mat-header-cell>
        <mat-cell *matCellDef="let item"> <span class="menu-url" style="width: 150px"> {{item.url|appMenuUrl}} </span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="operation">
        <mat-header-cell *matHeaderCellDef> 操作 </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button mat-raised-button class="sm-btn" color="primary" (click)="updateMenu(item)">
           修改
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedSubColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedSubColumns;"></mat-row>
    </mat-table>
  </div>
</main>
