<main class="update-role-main">
  <div class="dialog-title">
    <i class="material-icons">person_add</i> 添加角色
    <span class="dialog-close">
      <i class="material-icons">close</i>
    </span>
  </div>
  <div class="content">
    <div class="form-item">
      <mat-form-field class="full-width-input">
        <span class="input-prefix" matPrefix>菜单名:</span>
        <input matInput [(ngModel)]="updateRoleModel.name">
      </mat-form-field>
    </div>
    <div class="form-item form-item-sc">
      <mat-form-field class="full-width-input">
        <span class="input-prefix" matPrefix>说明:</span>
        <input matInput [(ngModel)]="updateRoleModel.description">
      </mat-form-field>
    </div>
    <app-menu-selector [menus]="menus" [checkedMenus]="checkedMenuItems"></app-menu-selector>
  </div>
  <div class="dialog-bottom">
    <button mat-raised-button class="sm-btn">重置</button>
    <button mat-radios mat-raised-button class="sm-btn" color="primary">添加</button>
  </div>
</main>
