<main class="add-batch-main">
  <div class="content-top white-box border-left base-text">
    <i class="material-icons">format_list_bulleted</i>
    学院列表
    <div class="content-top-right">
      <button (click)="openAddBatchDialog()" mat-icon-button><i class="material-icons">add_circle_outline</i>添加批次</button>
    </div>
  </div>
  <div class="white-box batch-content">
      <mat-table #table [dataSource]="subDataSource">
          <ng-container matColumnDef="checked">
            <mat-header-cell *matHeaderCellDef> 勾选 </mat-header-cell>
            <mat-cell *matCellDef="let item"><mat-checkbox color="primary" class="sm-checkbox"></mat-checkbox></mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> 名称 </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="course">
            <mat-header-cell *matHeaderCellDef> 考核分数 </mat-header-cell>
            <mat-cell *matCellDef="let item">{{item.course}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="operation">
            <mat-header-cell *matHeaderCellDef> 操作 </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <button mat-raised-button class="sm-btn" color="primary">
               修改
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedSubColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedSubColumns;"></mat-row>
        </mat-table>
  </div>
</main>
