<main class="register-main">
  <div class="dialog-title">
    <i class="material-icons">person</i>用户注册
    <span (click)="close.click()" class="dialog-close"><i class="material-icons">close</i></span>
  </div>

  <form class="register-content"  (ngSubmit)="register(close)" [formGroup]="registerForm">
    <mat-radio-group class="sex-radio-group" formControlName="sex">
      <span class="input-prefix" matPrefix>性别:</span>
      <mat-radio-button  color="primary" value="男">男</mat-radio-button>
      <mat-radio-button  class="man-radio" value="女">女</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="register-field">
      <span class="input-prefix" matPrefix>账号:</span>
      <input matInput placeholder="邮箱格式" formControlName="account">
      <mat-error *ngIf="accountControl.hasError('required')">账号不能为空</mat-error>
      <mat-error *ngIf="accountControl.hasError('pattern')">邮箱格式错误</mat-error>
    </mat-form-field>
    <mat-form-field class="register-field">
      <span class="input-prefix" matPrefix>密码:</span>
      <input matInput placeholder="6-9位" type="password" formControlName="password">
      <mat-error *ngIf="passwordControl.hasError('required')">密码不能为空</mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength')">密码过短</mat-error>
      <mat-error *ngIf="passwordControl.hasError('maxlength')">密码过长</mat-error>
    </mat-form-field>
    <mat-form-field class="register-field">
      <span class="input-prefix" matPrefix>姓名:</span>
      <input matInput placeholder="2-20个字符" formControlName="nickname">
      <mat-error *ngIf="nicknameControl.hasError('required')">姓名不能为空</mat-error>
      <mat-error *ngIf="nicknameControl.hasError('minlength')">姓名过短</mat-error>
      <mat-error *ngIf="nicknameControl.hasError('maxlength')">姓名过长</mat-error>
    </mat-form-field>
    <mat-form-field class="validate-code-input">
      <span class="input-prefix" matPrefix>验证码:</span>
      <input matInput formControlName="validate">
      <mat-error *ngIf="validateControl.hasError('required')">
        验证码不能为空
      </mat-error>
      <mat-error *ngIf="validateControl.hasError('verificationCodeActually')||validateControl.hasError('minlength')||validateControl.hasError('maxlength')">
        验证码错误
      </mat-error>
    </mat-form-field>  <img class="validate-code-img" [src]="api.VALIDATE_CODEIMG">
    <button class="register-btn" mat-raised-button color="primary" [disabled]="!registerForm.valid">立即注册</button>
  </form>
  <button style="display: none" mat-dialog-close #close></button>
</main>
