<main class="main">
  <div class="content-top white-box border-left base-text">
    <i class="material-icons">person</i> 学生列表
    <div class="more-operation">
      <button md-icon-button  [mdMenuTriggerFor]="menu">
        <i class="material-icons">list</i>
        <span class="more-operation-label">更多操作</span>
      </button>
      <md-menu #menu="mdMenu" class="custom-md-menu">
        <button md-menu-item  >
          <md-slide-toggle [checked]="query.showUnAudit" (change)="showUnAuditStudent($event)">{{query.showUnAudit?'显示未审核学生':'隐藏未审核学生'}}</md-slide-toggle>
        </button>
        <button md-menu-item>
          <i class="material-icons">lock_outline</i>
          <span>仅情侣可见</span>
        </button>
      </md-menu>
    </div>
   
  </div>
  <div class="student-list white-box">
    <md-table #table [dataSource]="dataSource"> 
          <!-- id Column -->
        <ng-container mdColumnDef="id">
          <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
          <md-cell *mdCellDef="let user"> {{user.id}} </md-cell>
        </ng-container>
      
          <!-- nickname Column -->
        <ng-container mdColumnDef="nickname">
          <md-header-cell *mdHeaderCellDef> 姓名 </md-header-cell>
          <md-cell *mdCellDef="let user"> {{user.nickname}} </md-cell>
        </ng-container>
      
          <!-- sex Column -->
          <ng-container mdColumnDef="sex">
            <md-header-cell *mdHeaderCellDef> 性别 </md-header-cell>
            <md-cell *mdCellDef="let user"> {{user.sex}} </md-cell>
          </ng-container>
      
          <!-- state Column -->
          <ng-container mdColumnDef="state">
            <md-header-cell *mdHeaderCellDef> 状态 </md-header-cell>
            <md-cell *mdCellDef="let user"> <md-slide-toggle (change)="stateToggle($event,user)" color="primary" [checked]="user.state">{{user.state?'已激活':'待激活'}}</md-slide-toggle></md-cell>
          </ng-container>
      
          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
  </div>
</main>
